:root {
  --x-6c-7-1b-1: rgba(44, 118, 171, 1);
  --default-body-bold-font-family: "SF Pro Text", Helvetica;
  --default-body-bold-font-weight: 400;
  --default-body-bold-font-size: 17px;
  --default-body-bold-letter-spacing: -0.40799999237060547px;
  --default-body-bold-line-height: 22px;
  --default-body-bold-font-style: normal;
  --collection-1-color: rgba(108, 113, 177, 1);
}

